<div class="tabs-container fadeIn">
  <nav class="tab-btn-wrapper">
    <button for="tab1" class="std tab-btn" [ngClass]="{'active':!searBoxTab}" (click)="toggleButton(searBoxTab);">OneWay</button>
    <button for="tab2" class="std tab-btn" [ngClass]="{'active':searBoxTab}" (click)="toggleButton(searBoxTab);">Round Trip</button>
  </nav>
  <div class="tabs-wrapper">
    <form #form="ngForm" (ngSubmit)="flightSearch(form.value)" novalidate>
      <div class="tab" id="tab1">
        <div class="f-ctrl side-by-side">
          <input placeholder="From" name="origin" [(ngModel)]="model.origin" #origin="ngModel" type="text" class="jr-src" list="citylist"
            required/>
          <div class="help-block" *ngIf="origin.errors?.required && origin.touched">
            Source is mandatory
          </div>
        </div>
        <div class="f-ctrl side-by-side">
          <input placeholder="To" name="dest" type="text" [(ngModel)]="model.dest" #dest="ngModel" class="jr-dest" list="citylist"
            required/>
          <div class="help-block" *ngIf="dest.errors?.required && dest.touched">
            Destination is mandatory
          </div>
        </div>

        <div class="f-ctrl side-by-side">
          <input type="date" name="startDate" id="oJrDate" [(ngModel)]="model.startDate" #startDate="ngModel" required 
          />
          <div class="help-block" *ngIf="startDate.errors?.required && startDate.touched">
            Start Date is mandatory
          </div>
        </div>
        <div class="f-ctrl side-by-side" *ngIf="searBoxTab">
          <input type="date" name="returnDate" [(ngModel)]="model.returnDate" #returnDate="ngModel" id="rJrDate" required >

          <div class="help-block" *ngIf="returnDate.errors?.required && returnDate.touched">
            Return Date is required
          </div>

        </div>

        <div class="f-ctrl side-by-side">
          <input type="number" name="passengers" [(ngModel)]="model.passengers" #passengers="ngModel" id="oPassCnt" min="1" placeholder="No of passengers"
            required/>
          <div class="help-block" *ngIf="passengers.errors?.required && passengers.touched">
            No. of Passenger is mandatory
          </div>
        </div>
        <datalist id="citylist" *ngIf="cities">
          <option *ngFor="let city of cities " [value]="city.code">{{city.name}}</option>
          <!-- <option value="DEL">Delhi</option> -->
        </datalist>
        <br class="mobile">
        <button type="submit" [disabled]="form.invalid" [ngStyle]="{'cursor':form.invalid ? 'no-drop' : 'default' }" class="btn-primary std"
          id="tSearchBtn">Search</button>
      </div>
    </form>
  </div>
</div>
