.tabs-container {
  padding: 0.625em;
}

#filter-by-price {
  text-align: center;
}

.priceRange {
  padding: 0.65rem;
}

#price-lable {
  margin-bottom: 25px;
}

.minPrice {
  float: left;
}

.maxPrice {
  float: right;
}

#priceRange {
  width: 100%;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 1px solid linear-gradient(to right, #2F80ED, #56CCF2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 100%;
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 1px solid linear-gradient(to right, #2F80ED, #56CCF2);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border-radius: 100%;
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  cursor: pointer;
}

.price-label {
  font-size: 0.8em;
  margin-top: 10px;
}
